.sidebar > div {
  min-width: 240px;
}

.navRightArea {
  margin-left: auto;
}

.activeLink {
  background-color: #d9ecff;
}
.activeSubLink {
  background-color: #edf6ff;
}

.submenu > div {
  padding: 3px 18px;
}
